@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//fuentes
$fuentePrincipal: "Open Sans", sans-serif;

//Media Queries
$tablet: 768px;
$desktop: 992px;
$large: 1200px;

//colores
$fondo: #222831;
