
.homeScreen{
    width: 100%;
    height: 100%;
    background-color: $fondo;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:stretch;
    align-content:stretch;
    @include tablet{
        background-color:unset;
        background-color: green;
    }


    @include desktop{
        background-color: red;
    }

    @include large{
        background-color: $fondo;
        
    }

    & >:first-child{
        background-image: url('https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    }

    & >:nth-child(4){
        background-image: url('https://images.pexels.com/photos/3041110/pexels-photo-3041110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    }

    
}

